nav {
    height: 100px;
  }
  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    font-size: small;
  }
  .navbar-logo {
    color: rgba(13, 44, 84);
    font-weight: bold;
    font-size: xx-large;
  }
  nav ul a {
    color: #000;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    padding: 3% 0%;
  }
  nav ul a:hover {
    border-bottom: 4px solid #80ffff;
  }
  @media screen and (max-width: 1188px) {
    .navbar-container {
      flex-direction: column;
      justify-content: flex-start;
    }
  }